- content_for :bread do
  %li.current
    Teachers

%p
  =link_to 'Add Teacher', new_director_user_path, :class => "btn btn-success pull-right"
%p.clear
%table#users_table.dt_table{"data-source" => director_teachers_path(format: "json")}
  %thead
    %tr
      %th E-mail
      %th Role
      %th
  %tbody