- content_for :bread do
  %li
    =link_to 'Subjects', teacher_subjects_path
  %li.current
    = @subject.name

%h1
  Students

%table.table.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th
  %tbody
    - @students.each do |s|
      %tr
        %td= s.user.id
        %td= s.user.email
        %th= link_to raw('<i class="fa fa-search"></i>'), '#'
