- content_for :bread do
  %li
    =link_to 'Subjects', teacher_subjects_path
  %li.current
    = @subject.name


%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#settings"} Students
  %li
    %a{"data-toggle" => "tab", href: "#grade"} Gread
.tab-content
  #settings.tab-pane.active
    = render 'students', :students => @students

  #grade.tab-pane
    = render 'grade', :students => @students, :subject => @subject
