%table.table.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th
  %tbody
    - subjects.each do |subject|
      %tr
        %td= subject.id
        %td= subject.name
        %td= link_to raw('<i class="fa fa-search"></i>'), teacher_subject_path(subject)

