- content_for :bread do
  %li
    = link_to 'Classrooms', teacher_classrooms_path
  %li.current
    = @classroom.name


%ul.nav.nav-tabs
  %li
    %a{"data-toggle" => "tab", href: "#home"} Home
  %li
    %a{"data-toggle" => "tab", href: "#subject"} Subject
  %li
    %a{"data-toggle" => "tab", href: "#settings"} Students
/ Tab panes
.tab-content
  #home.tab-pane.active
    %p &nbsp;
    name:
    =@classroom.name
  #subject.tab-pane
    = render 'subjects', :subjects => @classroom.subjects
  #settings.tab-pane
    = render 'students', :students => @classroom.students