%ul.nav.nav-pills.nav-stacked
  %li{:class => active_link_to(director_index_path)}
    =link_to 'Dashboard', director_index_path
  %li{:class => active_link_to(director_classrooms_path)}
    =link_to 'Groups', director_classrooms_path
  %li{:class => active_link_to(director_subjects_path)}
    =link_to 'Subjects', director_subjects_path
  %li{:class => active_link_to(director_users_path)}
    =link_to 'Users', director_users_path
  %li{:class => active_link_to(director_teachers_path)}
    =link_to 'Teachers', director_teachers_path
  %li{:class => active_link_to(director_index_path)}
    =link_to 'Students', director_index_path
  %li{:class => active_link_to(director_index_path)}
    = link_to 'Students', director_index_path
