%ul.nav.nav-pills.nav-stacked
  %li
    =link_to 'Dashboard', director_index_path
  %li
    =link_to 'Groups', director_groups_path
  %li
    =link_to 'Students', director_index_path
  %li
    =link_to 'Teachers', director_index_path
  %li
    =link_to 'Subjects', director_index_path
  %li
    =link_to 'Statistics', director_index_path
